celery==5.0.5
cent==3.0.1
Django==3.1.7
django-cors-headers==3.7.0
django-environ==0.4.5
django-extensions==3.1.1
# No imperative filtering, declarative beautiful filters
django-filter==2.4.0
# For process specification
django-fsm==2.7.1
djangorestframework==3.12.2
django-silk==4.1.0
future==0.18.2
gunicorn==20.0.4
gevent==21.1.2
ipython==7.20.0
packaging==20.9
psycopg2-binary==2.8.6
pyjwt==2.0.1
requests==2.25.1
sentry-sdk==0.20.3
whitenoise==5.2.0
